/*버튼 button*/
/*공통*/
.btn {
    font-size: 12px;
    color: #656565;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: -1px;
}

/*default*/
.btn-line-default {
    border: 1px solid #c3c6d1; 
    background: #fff;
    &:hover {
        background-color: #f0f3f8;
        font-weight: bold;
    }
}
.btn-line-default-small {
    font-size: 10px !important;
    line-height: 13px;
    border: 1px solid #d1dce1;
    background: #fff;
    padding: 1px 2px !important;
    &:hover {
        background-color: #f5f5f5;
        font-weight: bold;
    }
}
.btn-line-default-big {
    border: 1px solid #e3e5ed; 
    background: #fff;
    padding: 11px 10px !important;
    &:hover {
        background-color: #f0f3f8;
        font-weight: bold;
    }
}

/*gray*/
.btn-line-gray {
    border: 1px solid #c5c5c5; 
    background: #fff;
    color: #c5c5c5;
    &:hover {
        background-color: #ebebeb;
        font-weight: bold;
    }
}

/*blue*/
.btn-line-blue {
    border: 1px solid #4481eb;
    background: #fff;
    color: #4481eb !important;
    &:hover {
        background-color: #e2edff;
    }
}
.btn-line-blue-small {
    font-size: 10px !important;
    line-height: 13px;
    border: 1px solid #4481eb;
    background: #fff;
    color: #4481eb !important;
    padding: 1px 2px !important;
    &:hover {
        background-color: #4481eb;
        color: #fff !important;
    }
}
.btn-full-blue {
    border: none;
    background: #4481eb;
    color: #fff !important;
    &:hover {
        background-color: #1159d5;
        font-weight: bold;
    }
}
.btn-full-blue-small {
    font-size: 11px !important;
    line-height: 13px;
    border: none;
    background: #4481eb;
    padding: 1px 2px !important;
    color: #fff !important;
    &:hover {
        background-color: #1159d5;
    }
}
.btn-full-blue-search {
    border: none;
    background: #4481eb;
    color: #fff !important;
    padding: 18px 17px;
    margin-left: -4px;
    margin-top: 1px;
    border-radius: 0 4px 4px 0px;
    &:hover {
        background-color: #1159d5;
        font-weight: bold;
    }
}

/*레드 red*/
.btn-line-red {
    border: 1px solid #ee3d3d;
    background: #fff;
    color: #ee3d3d !important;
    padding: 5px;
    &:hover {
        background-color: #ffe4e4;
        font-weight: bold;
    }
}

.btn-full-red-small {
    font-size: 11px !important;
    line-height: 13px;
    border: none;
    background: #ee3d3d;
    padding: 1px 2px !important;
    color: #fff !important;
    &:hover {
        background-color: #ce2828;
    }
}

.btn-line-red-small {
    font-size: 10px !important;
    line-height: 13px;
    border: 1px solid #ce2828;
    background: #fff;
    padding: 1px 2px !important;
    color: #ce2828;
    &:hover {
        background-color: #ffe4e4;
        font-weight: bold;
    }
}

/*그린 green*/

.btn-line-green {
    border: 1px solid green;
    background: #fff;
    color: green !important;
    &:hover {
        background-color: #e2edff;
    }
}
.btn-line-green-small {
    font-size: 10px !important;
    line-height: 13px;
    border: 1px solid green;
    background: #fff;
    color: green !important;
    padding: 1px 2px !important;
    &:hover {
        background-color: green;
        color: #fff !important;
    }
}

.btn-full-green {
    border: none;
    background: green;
    color: #fff !important;
    &:hover {
        background-color: green;
        font-weight: bold;
    }
}

.btn-line-green-small {
    font-size: 10px !important;
    line-height: 13px;
    border: 1px solid #0acf97;
    background: #fff;
    padding: 1px 2px !important;
    color: #0acf97;
    &:hover {
        background-color: #d2fff2;
        font-weight: bold;
    }
}

.btn-full-green-small {
    font-size: 11px !important;
    line-height: 13px;
    border: none;
    background: #0acf97;
    padding: 1px 2px !important;
    color: #fff !important;
    &:hover {
        background-color: #0bb182;
    }
}

/*보라 퍼플 purple*/
.btn-full-purple {
    border: none;
    background: #8444eb;
    color: #fff !important;
    &:hover {
        background-color: #6433b3;
        font-weight: bold;
    }
}
.btn-full-purple-small {
	font-size: 11px !important;
	line-height: 13px;
	border: none;
	background: #8444eb;
	padding: 1px 2px !important;
	color: #fff !important;
	&:hover {
		background-color: #6433b3;
	}
}

.cancel-btn {
    padding: 10px;
    text-align: center;
    display: inline-block;
    color: #fe0000;
    border: 1px solid #fe0000;
}