@charset "UTF-8";
/*컬러*/
.tbl-white .tbl-white-view {
  width: 100%;
}

.tbl-white .tbl-white-view thead tr:hover {
  background: #e0ecff;
}

.tbl-white .tbl-white-view thead tr th {
  background: #fff;
  padding: 10px 0;
  border-top: 1px solid #e3e5ed;
  border-bottom: 1px solid #e3e5ed;
  font-weight: bold;
  vertical-align: middle;
}

.tbl-white .tbl-white-view thead tr td {
  border-top: 1px solid #e3e5ed;
  border-bottom: 1px solid #e3e5ed;
  border-right: 1px solid #e3e5ed;
  padding: 10px 0 10px 10px;
  vertical-align: middle;
}

.tbl-white .tbl-white-view thead tr td:last-child {
  border-right: none;
}

.tbl-white .paging {
  text-align: center;
  font-size: 13px;
}

.tbl-white .paging ul li {
  margin: 0 10px;
  display: inline-block;
}

.tbl-white .paging ul li a {
  color: #656565;
}

.tbl-white .paging ul li a:hover {
  color: #5d9cec;
  font-weight: bold;
}

.tbl-white .paging ul li .carrot-active {
  color: #5d9cec;
  font-weight: bold;
}
